* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
}

img {
	max-width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto:wght@300&display=swap');

/*
font-family: 'Cabin', sans-serif;
font-family: 'Roboto', sans-serif;
*/

h1, h4 {
	font-family: 'Cabin', sans-serif;
}
a:link { 
    text-decoration: none !important;
    color: black;
}
a:visited {
    text-decoration: none; 
    color: black;
}
a:hover {
    text-decoration: underline;
    color: black !important;
}
a:active { 
    text-decoration: none; 
    color: black;
}
label {
    font-size: 18px;
}
input {
    width: 100%;
    border-color: black;
    padding: 12px 0 12px 5px;
    margin: 10px 0 10px 0;
    font-size: 18px;
}
textarea {
    width: 100%;
    border-radius: 0;
    padding: 12px 0 12px 5px;
    margin: 10px 0 10px 0;
    border: 2px solid black;
    font-size: 18px;
}

button {
    color: #000000;
    background-color: transparent;
    background-repeat: no-repeat;
    font-size: 18px;
    padding: 12px 12px;
    margin: 10px 0;
    border: 2px solid black;
}

.button2 {
    color: #ffffff;
    background-color: transparent;
    font-size: 22px;
    padding: 12px 12px;
    margin: 10px 0;
	border: none;
	text-align: left;
}

.button3 {
    color: #000000;
    background-color: transparent;
    font-size: 18px;
    padding: 12px 0px;
    margin: 10px 0;
	border: none;
	font-weight: bold;
}

.button4 {
    color: #ffffff;
    background-color: transparent;
    font-size: 18px;
    padding: 12px 0px;
    margin: 10px 0;
	border: none;
	font-weight: bold;
}

.btn:hover {
	Background: #000000;
	box-shadow: 2px 2px 2px 0px #888;
}